<h1>Products#index</h1>

<% @products.each do |product| %>
  <p>Product name: <%= product.name %></p>
  <ul>
    <li>Description: <%= product.description %></li>
    <li>Price in cents: <%= product.formatted_price %></li>
  <p><%= link_to "View", "/products/#{product.id}" %></p>
  </ul>
<% end %>
